.r-container {
    gap: 2rem;
    position: relative;
    overflow: hidden;
}

.r-head {
    margin-bottom: 2rem;
}

.r-card>img {
    width: 100%;
    max-width: 17rem;

    border: 1.5px solid #bfc8c9;
    /* Add grey border */
    border-radius: 10px;
    /* Optional: Add border radius */
}


.r-card {
    gap: 0.6rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    max-width: max-content;
    height: 23rem;
    margin: auto;
    transition: all 300ms ease-in;
    background-color: black;
}

.tech-stack {
    font-size: 9.5px;
    color: rgb(192, 195, 197);
    font-weight: 100;
}



.r-card> :nth-child(2) {
    font-size: 1.2rem;
    font-weight: 600;
}

.r-card> :nth-child(3) {
    font-size: 1.5rem;
}

.r-card> :nth-child(4) {
    font-size: 0.7rem;
    width: 15rem;
}

.r-card:hover {
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(180deg,
            rgba(6, 11, 97, 0.817) 0%,
            rgba(9, 124, 200, 0.986) 217.91%);
    box-shadow: 0px 72px 49px -51px rgba(0, 0, 0, 0.486);
}

.swiper-horizontal {
    overflow: visible;
}

.r-buttons {
    position: absolute;
    gap: 1rem;
    top: -9rem;
    right: 0;
}

.r-buttons button {
    font-size: 1.2rem;
    padding: .2rem .8rem;
    color: rgb(28, 142, 130);
    border: none;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;

}

.r-buttons>:nth-child(1) {
    background-color: #EEEEFF;
}

.r-buttons>:nth-child(2) {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}

.r2-button {
    font-weight: 500;
    padding: 1.0rem 0.55rem;
    color: white;
    background: rgb(28, 142, 130);
    border: none;
    border-radius: 100%;




    cursor: pointer;

}

.r2-button:hover {
    background: black;
    transform: scale(1.1);
}

.r3-button {
    font-weight: 500;
    padding: 1.0rem 0.43rem;
    color: white;
    background: rgb(28, 142, 130);
    border: none;
    border-radius: 100%;

    margin-left: 3.1vw;


    cursor: pointer;

}

.r3-button:hover {
    background: black;
    transform: scale(1.1);
}