.f-container {
    justify-content: space-between;
    background-color: black
}

.f-left {
    margin-right: 2%;

}



.f-menu {

    font-weight: 500;
}

@media (max-width: 768px) {
    .f-container {
        justify-content: center;
    }

    .f-container>div {
        align-items: center !important;
        text-align: center;
    }

    .f-right {
        justify-content: center;
    }
}